@import './base.css';

#app {
  font-weight: normal;
  padding-inline:10vh !important;
  width: 100%;
  margin-top: 10vh;
}

.nav-link{
  padding-top: 20px !important;
  padding-bottom: 0px !important;
  color:#818181;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}